body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

body.dark {
    background: #121212;
    color: white;
}

body.light {
    background: #f4f4f4;
    color: black;
}

.container,
.quiz-container,
.result-container {
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

input,
select,
button {
    padding: 10px;
    margin: 10px;
    width: 80%;
}

button {
    cursor: pointer;
}

.progress {
    width: 100%;
    height: 10px;
    background: grey;
    margin: 10px 0;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #00adb5;
}